{{define "WARNING"}}
<div id="WARNING" name="WARNING"><span  class="warning">   [WARNING] {{.}}</span></div>
{{end}}

{{define "DEFAULT"}}
<div id="DEFAULT" name="DEFAULT"><span class="default">   {{.}}</span></div>
{{end}}

{{define "DEBUG"}}
<div id="DEBUG" name="DEBUG"><span class="debug">   [DEBUG] {{.}}</span></div>
{{end}}

{{define "INFO"}}
<div id="INFO" name="INFO"><span class="info">   [INFO] {{.}}</span></div>
{{end}}

{{define "ERROR"}}
<div id="ERROR" name="ERROR"><span  class="error">   [ERROR] {{.}}</span></div>
{{end}}

{{define "SETUP"}}
<div id="SETUP" name="SETUP"><span  class="setup">   [SETUP] {{.}}</span></div>
{{end}}

{{define "D_PASS"}}
<div id="D_PASS" name="D_PASS"><span  class="d_pass">   [PASS] {{.}}</span></div>
{{end}}

{{define "D_FAIL"}}
<div id="D_FAIL" name="D_FAIL"><span  class="d_fail"><br/>   [FAIL] Failed steps: {{.}}</span></div>
{{end}}

{{define "STEP"}}
<div id="TEST_STEP" name="TEST_STEP"><span  class="step"> <span class="d_pass"><br>  STEP {{.StepIndex}} [{{.Time}}]</span><span style="color:black;font-size:20">: {{.Text}} </span> </span></div>
{{end}}

{{define "TS_HEADING"}}
<center>
<font size='5'> Golang Test Framework Report ( {{.Text}}.go ) </font></br>
Test Start: {{.Time}} </br>
</center>
</br>
<hr width="90%" size="1" align="left"></hr>
</br>
<table summary="DATE Report table" border="1" width="90%" cellpadding="1" >
<tr >
  <td  style="background :  ; color : black" name="tcid" ><b>TCID</b></td>
  <td  style="background :  ; color : black" name="action" ><b>Action</b></td>
  <td  style="background :  ; color : black" name="description" ><b>Description</b></td>
  <td  style="background :  ; color : black" name="result" ><b>Result</b></td>
  <td  style="background :  ; color : black" name="Duration" ><b>Duration(min)</b></td>
</tr>
<div style="display:none">hide</div>
</table>
</center>
{{end}}

{{define "TC_HEADING"}}
<div id= 'testcase_heading' name='testcase_heading' >
</br><table summary='' class='log_heading_table'>
<tr class='log_heading_table_th'><td> TCID: {{.TcID}} for B05.A.1 -- {{.Text}} </td></tr>
<tr> <td class='log_heading_table_td'> {{.Text}} </td> </tr>
<tr> <td class='log_heading_table_td'> {{.Time}} </td> </tr>
</table>
</div>
{{end}}

{{define "HORIZON"}}
<br>
<hr width="90%" size="1" align="left"></hr>
{{end}}

{{define "PANIC"}}
<div id= 'log_panic' name='log_panic'  border=0 >
<table style="border-spacing:0px; border-style:none; border-collapse:collapse;">
<tr><td class='error'>   </td><td class='error'>[PANIC]{{.}}</td> </tr>
</table>
</div>
{{end}}

{{define "REPORT_TBL"}}
<tr align="left" >
  <td  style="background :  ; color : black" name="tcid" align="left" >{{.TcID}}</td>
  <td  style="background :  ; color : black" name="action" align="left" >{{.TcDescription}}</td>
  <td  style="background :  ; color : black" name="description" align="left" >{{.TcDescription}} {{if .FailedSteps}}<br>Fail reason: Failed steps:{{.FailedSteps}}{{end}}<br></td>
  <td class={{if .FailedSteps}}"fail" {{else}}"pass"{{end}} name="result" align="left" >{{if .FailedSteps}}FAILED{{else}}PASS{{end}}</a></td>
  <td  style="background :  ; color : black" name="Duration" align="left" >0.00</td>
</tr>
<div style="display:none">hide</div>
{{end}}