{{define "WARNING"}}
<div id="WARNING" name="WARNING"><span  class="warning">[WARNING] {{.}}</span></div>
{{end}}

{{define "DEFAULT"}}
<div id="DEFAULT" name="DEFAULT"><span class="default">{{.}}</span></div>
{{end}}

{{define "PLAINTEXT"}}
{{.}}
{{end}}

{{define "DEBUG"}}
<div id="DEBUG" name="DEBUG"><span class="debug">[DEBUG] {{.}}</span></div>
{{end}}

{{define "INFO"}}
<div id="INFO" name="INFO"><span class="info">[INFO] {{.}}</span></div>
{{end}}

{{define "ERROR"}}
<div id="ERROR" name="ERROR"><span  class="error">[ERROR] {{.}}</span></div>
{{end}}

{{define "SETUP"}}
<div id="SETUP" name="SETUP"><span  class="setup">[SETUP] {{.}}</span></div>
{{end}}

{{define "D_PASS"}}
<div id="D_PASS" name="D_PASS"><span  class="d_pass">[PASS] {{.}}</span></div>
{{end}}

{{define "D_FAIL"}}
<div id="D_FAIL" name="D_FAIL"><span  class="d_fail"><br/>[FAIL] Failed steps: {{.}}</span></div>
{{end}}

{{define "STEP"}}
<div id="TEST_STEP" name="TEST_STEP"><span  class="step"> <span class="d_pass"><br>STEP {{.Index}} [{{.Time}}]</span><span style="color:black;font-size:20">: {{.Text}} </span> </span></div>
{{end}}

{{define "LOG_HEADER"}}
<center>
<font size='5'> GTF Execution Report ( {{.Text}}.go ) </font></br>
Test Start: {{.Time}} </br>
</center>
</br>
<hr width="90%" size="1" align="left"></hr>
</br>
<table summary="DATE Report table" border="1" width="90%" cellpadding="1" >
<tr >
  <td  style="background :  ; color : black" name="tcid" ><b>TCID</b></td>
  <td  style="background :  ; color : black" name="action" ><b>Action</b></td>
  <td  style="background :  ; color : black" name="description" ><b>Description</b></td>
  <td  style="background :  ; color : black" name="result" ><b>Result</b></td>
  <td  style="background :  ; color : black" name="Duration" ><b>Duration(min)</b></td>
</tr>
<div style="display:none">hide</div>
</table>
</center>
<dl>
<dd>
{{end}}

{{define "LOG_TAILER"}}
</dd>
</dl>
<hr width="92%" size="1" align="left"></hr>
*** Test completed on {{.Time}}, Total time: {{.Text}} min.
</br>
</br>
</body>
</html>
{{end}}

{{define "TC_HEADER"}}
<a name="a{{.Anchor}}">
<div id= 'testcase_heading' name='testcase_heading' >
</br><table summary='' class='log_heading_table'>
<tr class='log_heading_table_th'><td> TCID: {{.TcID}} for B05.A.1 -- {{.Text}} </td></tr>
<tr> <td class='log_heading_table_td'> {{.Text}} </td> </tr>
<tr> <td class='log_heading_table_td'> {{.Time}} </td> </tr>
</table>
</div>
</a>
{{end}}

{{define "HORIZON"}}

<hr width="90%" size="1" align="left"></hr>
{{end}}

{{define "PANIC"}}
<div id= 'log_panic' name='log_panic'  border=0 >
<table style="border-spacing:0px; border-style:none; border-collapse:collapse;">
<tr><td class='error'>   </td><td class='error'>[PANIC]{{.}}</td> </tr>
</table>
</div>
{{end}}

{{define "RESULT_SUMMARY"}}
<tr align="left" >
  <td  style="background :  ; color : black" name="tcid" align="left" >{{.TcID}}</td>
  <td  style="background :  ; color : black" name="action" align="left" >{{.Description}}</td>
  <td  style="background :  ; color : black" name="description" align="left" >{{.Description}} {{if .FailedSteps}}<br>Fail reason: Failed steps:{{.FailedSteps}}{{end}}<br></td>
  <td class={{if .FailedSteps}}"fail" {{else}}"pass"{{end}} name="result" align="left" ><a href="#a{{.TcAnchor}}">{{if .FailedSteps}}FAILED{{else}}PASS{{end}}</a></td>
  <td  style="background :  ; color : black" name="Duration" align="left" >{{.Duration}}</td>
</tr>
<div style="display:none">hide</div>
{{end}}

{{define "TOGGLE_TEXT"}}
<div class="toggle_text">
<a href="javascript:toggleDisplay('{{.TextId}}');">{{.Title}}</a><br></br>
</div>
<div class="debugport_body_On" id="{{.TextId}}" style="display: {{.Switch}}">
{{.Text}}
<br></br>
</div>
{{end}}

{{define "TOGGLE_IMAGE"}}
<div class="toggle_image">
<a href="javascript:toggleDisplay('{{.ImgId}}');">{{.Title}}</a>
</div>
</br>
<div class="debugport_body_On" id="{{.ImgId}}" style="display: {{.Switch}};">
<img altxt="+altxt+" src='{{.ImgSrc}}'></img></br>
</div>
{{end}}
